@{
    ViewData["Title"] = "About";
}

<div class="mt-5">
    <h1 class="text-center mb-5">About Us</h1>
    <div class="row">
        <div class="col-md-12">
            <img src="~/images/layoutImages/eid-slider-banner.webp" class="img-fluid mb-4" alt="About Us Image">
        </div>
    </div>
    <div class="row container-fluid">
    <div class="col-md-6" style="background-color:lightgray" >
        <h2 class="text-center">Our Mission</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales dapibus arcu a dictum. Proin sit amet malesuada augue. Duis sit amet metus risus. Nam eget eros ac tellus luctus suscipit. Nulla facilisi. Vivamus interdum tortor ac sapien accumsan rhoncus. Donec dignissim bibendum justo id placerat.</p>
        <p>Proin auctor ultrices sem, eget euismod ante pretium quis. Sed eleifend velit sit amet purus auctor gravida. Nam in varius nisl. Fusce facilisis arcu sed ligula ultricies, vel malesuada neque ultrices. Aliquam tempus, tellus in lobortis hendrerit, eros est bibendum nunc, vitae lobortis nibh nibh vel arcu.</p>
    </div>

    <div class="col-md-6" style="background-color:lightgray">
        <h2 class="text-center">Our Story</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sodales dapibus arcu a dictum. Proin sit amet malesuada augue. Duis sit amet metus risus. Nam eget eros ac tellus luctus suscipit. Nulla facilisi. Vivamus interdum tortor ac sapien accumsan rhoncus. Donec dignissim bibendum justo id placerat.</p>
        <p>Proin auctor ultrices sem, eget euismod ante pretium quis. Sed eleifend velit sit amet purus auctor gravida. Nam in varius nisl. Fusce facilisis arcu sed ligula ultricies, vel malesuada neque ultrices. Aliquam tempus, tellus in lobortis hendrerit, eros est bibendum nunc, vitae lobortis nibh nibh vel arcu.</p>
    </div>
    </div>
</div>
