@{
    ViewData["Title"] = "Home Page";
}

<partial name="_Notification">
<br />
<div class="text-center">
    <h1 class="display-3">Welcome To Admin Dashboard</h1>
    <h4>
        You can now
        <span class="text-success">Create</span>
        <span class="text-info">Read</span>
        <span class="text-warning">Update</span> and
        <span class="text-danger">Delete</span>
    </h4>
</div>
