@model ProductViewModel

<div class="container">
    <partial name="_Notification">
        <br />
        <div class="text-center bg-secondary">
            <br />
            <h1 class="display-4"> @ViewData["Title"] Product </h1>
            <a asp-action="Manage" class="btn btn-info">Manage <i class="fa fa-arrow-left"></i></a>
            <br />
            <br />
        </div>
        <div class="mt-5 row">
            <div class="col-4">
                <img src="~/images/Products/@Model.Product.ImageUrl"
                     class="w-100" asp-append-version="true" />
            </div>
            <div class="col-6">
                <form>
                    <input hidden="hidden" asp-for="Product.Id" />
                    <fieldset>
                        <legend> Enter data </legend>
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="form-label mt-1">Product Name</label>
                            <input disabled type="text" asp-for="Product.Name" class="form-control"
                                   id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Product Title">
                        </div>
                        <div class="form-group">
                            <label for="example1" class="form-label mt-1">Select Category</label>
                            <input disabled type="text" asp-for="Product.Category.Name" class="form-control"
                                   id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Category Name">
                        </div>

                        <div class="form-group">
                            <label for="Price" class="form-label mt-1">Price</label>
                            <input disabled type="number" asp-for="Product.Price" class="form-control" id="Price"
                                   aria-describedby="emailHelp" placeholder="Enter Product Price">
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1" class="form-label mt-1">Sizes</label>
                            <input type="text" asp-for="Product.Sizes" value="S, M, L, XL" class="form-control" id="exampleInputEmail1"
                                   aria-describedby="emailHelp" disabled required="required" placeholder="Enter Product Sizes">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="form-label mt-1">Color</label>
                            <input type="text" asp-for="Product.Colors" class="form-control" id="exampleInputEmail1"
                                   aria-describedby="emailHelp" disabled required="required" placeholder="Enter Product Sizes">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="form-label mt-1">Sizes</label>
                            <input type="text" asp-for="Product.Sizes" class="form-control" id="exampleInputEmail1"
                                   aria-describedby="emailHelp" disabled required="required" placeholder="Enter Product Sizes">
                        </div>


                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label for="exampleInputPassword1" class="form-label mt-1">Trending</label>
                                    @if (Convert.ToBoolean(Model.Product.IsTrending))
                                    {                                        
                                        <input type="text" class="form-control" disabled value="Yes">
                                    }
                                    else
                                    {
                                        <input type="text" class="form-control" disabled value="Yes">
                                    }
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group">
                                    <label for="Display" class="form-label mt-1">Display Order</label>
                                    <input disabled type="number" min="1" asp-for="Product.DisplayOrder"
                                           class="form-control" id="Display" aria-describedby="emailHelp" placeholder="Enter Display Order">
                                </div>
                            </div>
                        </div>
                        <div class="mt-3 text-center">
                            <a asp-action="CreateOrEdit" asp-route-id="@Model.Product.Id"
                               class="@ViewData["button-color"]">Edit Product</a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
</div>