/* _content/ShoppingCart/Areas/Admin/Views/Shared/_AdminLayout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-flsj5rtzqb] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-flsj5rtzqb] {
  color: #0077cc;
}

.btn-primary[b-flsj5rtzqb] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-flsj5rtzqb], .nav-pills .show > .nav-link[b-flsj5rtzqb] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-flsj5rtzqb] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-flsj5rtzqb] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-flsj5rtzqb] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-flsj5rtzqb] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-flsj5rtzqb] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/ShoppingCart/Views/Shared/_AdminLayout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-oofx0fvm1d] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-oofx0fvm1d] {
  color: #0077cc;
}

.btn-primary[b-oofx0fvm1d] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-oofx0fvm1d], .nav-pills .show > .nav-link[b-oofx0fvm1d] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-oofx0fvm1d] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-oofx0fvm1d] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-oofx0fvm1d] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-oofx0fvm1d] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-oofx0fvm1d] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/ShoppingCart/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-ce7yr55nmi] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-ce7yr55nmi] {
  color: #0077cc;
}

.btn-primary[b-ce7yr55nmi] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-ce7yr55nmi], .nav-pills .show > .nav-link[b-ce7yr55nmi] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-ce7yr55nmi] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-ce7yr55nmi] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-ce7yr55nmi] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-ce7yr55nmi] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-ce7yr55nmi] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
